.clients {
  @include section(94px, 94px);
  }
  
  .clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  .clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-background-color);
    border-radius: 4px;
    fill:var(--icons-background-color);
  
    transition: fill var(--anim-main),
    border var(--anim-main);
  
    &:hover,
    &:focus {
    fill: var(--third-text-color);
    border: 1px solid var(--third-text-color);
    }
  }