.what {
  @media screen and (max-width:1199.9px) {
    display: none;
  }
  }
  
  .what-container {
    @extend %container;
    @include section(0, 94px);
  }

  .what__title, .team__title, .clients__title {
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;

    @media screen and (min-width:1200px) {
      font-size: 36px;
      line-height: calc(42 / 36);
    }

  }
  
  .what__list {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  
  .what__item {
    position: relative;

    &:not(:last-child) {
    margin-right: 30px;
    }
  }
  
  .what__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 15px;
    background-color: rgba(47, 48, 58, 0.8);
     
  }
  
  .what__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
  }
  