.contacts {
}

.contacts-container {
	@extend %container;
	@include section(60px, 60px);
	@media screen and (min-width: 1200px) {
		@include section(115px, 94px);
	}
}

.contacts-form {
	min-width: 280px;
	max-width: 335px;

	@media screen and (min-width: 1200px) {
		width: 528px;
		height: 581px;
	}
	background-color: var(--white-color);
}
