:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --third-text-color: #2196f3;
    --primary-background-color: #f5f5f5;
    --secondary-background-color: #f5f4fa;
    --third-background-color: #2f303a;
    --white-color: #ffffff;
    --button-active-color: #188ce8;
    --black-color: #000000;
    --icons-background-color: #afb1b8;
    --anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --margin: 30px;
    --item: 1;
  }

   